:root {
  --clr-white: #FFFFFF;
  --clr-gray-500: #6B7082;
  --clr-gray-100: #E8E9EC;
  --clr-blue-600: #19A1AE;
  --clr-blue-400: #41CBD3;
  --clr-navy-950: #2E3349;
  --clr-gradient: linear-gradient(90deg, #53FFEE 0%, #0989B4 100%);
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/kumbh-sans-v27-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/kumbh-sans-v27-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  /* --- */
  font-family: 'Kumbh Sans', Arial, Helvetica, sans-serif;
  height: 100vh;
  display: grid;
  place-content: center;

  /* Add background styles */
  background-color: var(--clr-blue-600);
  background-image:
    url('images/bg-pattern-top.svg'),
    url('images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position:
    right 50vw bottom 50vh,
    left 50vw top 50vh;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.profile-card__container {
  max-width: 326px;
  background-color: var(--clr-white);
  border-radius: 15px;
  box-shadow: 0 50px 100px -20px hsla(197, 84%, 20%, 0.25);
}

.profile-card__header-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.profile-card__content {
  display: grid;
  gap: 24px;
  position: relative;
}

.profile-card__avatar-container {
  background-color: var(--clr-white);
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  justify-self: center;
  top: 0;
  translate: 0 -50%;
}

.profile-card__avatar {
  border-radius: 50%;
}

.profile-card__user-info {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.profile-card__user {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.profile-card__user-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--clr-navy-950);
}

.profile-card__user-age {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--clr-gray-500);
}

.profile-card__location {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--clr-gray-500);
}

.profile-card__stats {
  display: flex;
  justify-content: center;
  gap: 56px;
  border-top: 1px solid var(--clr-gray-100);
  padding-block: 25px 24px;
}

.profile-card__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.profile-card__stat-value {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--clr-navy-950);
}

.profile-card__stat-label {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 1.5px;
  color: var(--clr-gray-500);
}
